apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkout-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkout
  template:
    metadata:
      labels:
        app: linkout
    spec:
      containers:
        - name: linkout
          image: linkout-backend:dev  # nom de l'image Docker locale
          imagePullPolicy: Never       # pour utiliser l'image locale
          ports:
            - containerPort: 8000
          env:
            - name: POSTGRES_DB
              value: "mydb"
            - name: POSTGRES_USER
              value: "myuser"
            - name: POSTGRES_PASSWORD
              value: "mypassword"
            - name: POSTGRES_HOST
              value: "db"
            - name: REDIS_HOST
              value: "redis"
            - name: REDIS_PORT
              value: "6379"
            - name: REDIS_DB
              value: "1"